@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito Sans', sans-serif;
}

.location-data {
  display: grid;
  grid-template-columns: 1fr 1fr;
  cursor: pointer;
}

.data {
  text-decoration: none;
  color: black;
  display: flex;
  justify-content: flex-start;
  background-color: azure;
  border: 1px solid black;
  border-radius: 10px;
  padding: 1.5rem;
}

.data:hover {
  color: black;
}

.data:nth-child(even) {
  background-color: rgb(179, 214, 214);
}
