@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito Sans', sans-serif;
}

.navbar-header {
  font-weight: 900;
}

.location-data {
  display: grid;
  grid-template-columns: 1fr 1fr;
  cursor: pointer;
  gap: 15px;
}

.data {
  text-decoration: none;
  color: black;
  display: flex;
  justify-content: space-between;
  background-color: azure;
  border: 1px solid black;
  border-radius: 10px;
  padding: 1.5rem;
  transition: all ease 1s;
}

.data:hover {
  color: black;
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1);
}
